.base-style {
    border: none;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    box-shadow: 2px 2px 2px #999;
    border-radius: 6px;
}

.primaryButton {
    background-color: rgb(132, 230, 94);
}

.primaryButton:hover {
    background-color: rgb(59, 209, 0);
    transition-duration: 200ms
}

.primaryButton:active {
    box-shadow: 3px 3px 3px #666;
    background-color: rgb(51, 181, 0);
}

.warningButton {
    background-color: rgb(255, 232, 62);
}

.dangerButton {
    background-color: rgb(248, 77, 77);
}

