<div class="layout">
    
    <div class="headline">
        <label>{{product?.name}}</label>
        <label>{{product?.productNo}}</label>
    </div>

    <div class="content">
        
    </div>

</div>