<div [formGroup]="groupName">
    <select class="base-class" name="languages" id="lang" [formControlName]="controlName">
        <option disabled selected hidden>{{placeholder}}</option>
        <option *ngFor="let option of options">{{option}}</option>
    </select>
</div>