.nav-bar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(39, 96, 201);
    height: 50px;
}

.entry-buttons {
    flex: 0.2;
    display: flex;
    justify-content: space-evenly;
}