<div class="nav-bar-container">

    <div class="entry-buttons">
        <app-button label="Products"
                    [btnStyle]="ButtonStyle.primaryButton"
                    routerLink="products">
        </app-button>

        <app-button label="Contacts"
                    [btnStyle]="ButtonStyle.primaryButton"
                    routerLink="contacts">
        </app-button>
    </div>

</div>