<div class="product-list-options">
    <app-input placeholder="Filter by name:"></app-input>
    <app-dropdown [options]="sortOptions" placeholder="Sort names:"></app-dropdown>
    <app-button label="Create product" [btnStyle]="ButtonStyle.primaryButton"> </app-button>
</div>

<div class="new-product-container" [formGroup]="productForm">

    <label>Name:</label>
    <app-input placeholder="Name:" controlName="name" [groupName]="productForm"></app-input>

    <label>Organization:</label>
    <app-input placeholder="Organization:" controlName="organization" [groupName]="productForm"></app-input>

    <label>Account:</label>
    <app-input placeholder="Account:" controlName="account" [groupName]="productForm"></app-input>

    <label>Price:</label>
    <app-input placeholder="Price:" controlName="price" [groupName]="productForm"></app-input>
    <app-dropdown placeholder="Select currency:" [options]="Currencies | enumToArray" controlName="currency" [groupName]="productForm">
    </app-dropdown>

    <app-button label="Create" [btnStyle]="ButtonStyle.primaryButton" (click)="clickEvent" ></app-button>

</div>

<div class="product-list-layout" *ngFor="let product of ((products$ | async) || [])">
    <app-product-details [product]="product">

    </app-product-details>
</div>