.product-list-layout {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-start;
}

.product-list-options {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 55px;
    border-top: black solid 2px;
    background-color: rgb(255, 252, 176);
}

.new-product-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}